{% load siteblocks_extras %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block META_description %}{{ meta.description }}{% endblock %}"/>
    <meta name="keywords" content="{% block META_keywords %}{{ meta.keywords }}{% endblock %}"/>
    <title>
        {% block title %}
            {% if meta.title %}
                {% ifnotequal meta.title|striptags ''  %}
                    {{ meta.title }} &mdash;
                {% endifnotequal %}
            {% endif %}
        {% endblock %}
        {{ site_name }}
    </title>
    <link rel="stylesheet" href="/media/css/reset.css">
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/jquery.fancybox.css">
    <!--[if lt IE 9]>
       <script type="text/javascript" src="/media/js/ie8fix.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/media/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/media/js/script.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- header -->
    <div class="header-wrapper">
        <header class="header">
            <div class="header-inner">
                <figure class="header-logo-box">
                    <a href="/"><img src="/media/images/header-logo.png"></a>
                </figure>
                <figure class="header-main-nav-box">
                    <div class="header-main-nav-caption">Арочные конструкции</div>
                    {% block_menu request.path %}
                </figure>
                <figure class="header-contacts-box">
                    <div class="header-phone"><span class="phone-code">(3022)</span> {% block_static 'phone' %}</div><div class="clear"></div>
                    <ul class="header-nav">
                        {% if request.path == '/technology/' %}
                            <li class="current">Описание технологии</li>
                        {% else %}
                            <li><a href="/technology/">Описание технологии</a></li>
                        {% endif %}
                        {% if request.path == '/contacts/' %}
                            <li class="current">Контакты</li>
                        {% else %}
                            <li><a href="/contacts/">Контакты</a></li>
                        {% endif %}
                    </ul>
                    <a href="/calculation/" class="calculate-button">Рассчитать стоимость</a>
                </figure>
            </div>
        </header>
    </div>
    <!-- end of header -->

    {% block center %}{% endblock %}

    <!-- footer -->
    <footer class="footer">
        <div class="footer-inner">
            <p class="copyright">
                © 2011-2013
                Сфера+
            </p>

            <p class="footer-contacts">
                г. Чита, ул. Анохина, 105, пом. 34
                телефон +7 (3022) 71-77-71
            </p>

            <p class="calculate-button">
                <a href="/calculation/" >Рассчитать стоимость</a>
            </p>

            <p class="octoberweb">
                Разработка сайта
                <a href="http://octoberweb.ru">OctoberWeb</a>
            </p>
        </div>
    </footer>
    <!-- end of footer -->
</body>
</html>   
