{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% block title %}
{% if meta.title|striptags > 0 %}
        {{ meta.title }}
{% else %}
Контакты
{% endif %} &mdash; 
{% endblock %}
{% block head %}
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU&coordorder=longlat" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    var contactsMap;
    function init(){     
        var coords = eval($('#contacts-map').data('coords'));
        contactsMap = new ymaps.Map ("contacts-map", {
            center: coords,
            zoom: 15,
        });
        var contactsPlacemark = new ymaps.Placemark(
                coords
                );
        contactsMap.geoObjects.add(contactsPlacemark); 
        contactsMap.controls.add(
           new ymaps.control.ZoomControl()
        );
    }
</script>
{% endblock %}

{% block center %}
    <!-- main -->
    <section class="main contacts-main">
        <div class="contacts-header">Контакты</div>
        <div>
            <section class="column main-left-column">
                <div class="contacts-address">
                <span class="address-city">Чита</span>,<br>
                {% block_static 'address' %}</div>
                <div class="phone"><span class="phone-code">(3022)</span> {% block_static 'phone' %}</div>
            </section>

            <section class="column main-right-column">
                <div id="contacts-map" data-coords="{% block_static 'coords' %}"></div>
            </section>
        </div>
    </section>
    <!-- end of main -->
{% endblock %}
