{% extends "base.html" %}

{% load thumbnail %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% block center %}
	<!-- main -->
    <section class="main">
        <!-- left column -->
        <section class="column main-left-column">
            <!-- slider -->
            <div class="slider">
                <ul id="index-slider">
                	{% for item in products %}
                    <li>
                        <div class="slider-item-box">
                            <img src="{{ item.image.url }}" alt="">
                            <div class="slider-item-text">
                                <h4>Арочная конструкция</h4>
                                <a href="{{ item.alias }}">«{{ item.name }}»</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div id="index-slider-left"></div>
                <div id="index-slider-right"></div>
            </div>
            <!-- end of slider -->

            <div class="usecases">
                <div class="column main-text-left-column">
                    <h3>Применение <br>наших ангаров</h3>
                </div>
                <div class="column main-text-right-column">
                    Универсальный тип здания, которое используется как склад, гараж, терминал. Можно использовать в составе спортивного, выставочного или торгового комплекса или как укрытие для крупногабаритной техники.
                </div>

                <div class="usecases-gallery">
                    <img class="usecase-image" src="media/images/usecases-image-1.png" alt="">
                    <div class="usecases-header">
                        <div class="usecases-header-inner">
                            <img class="usecase-category-img" src="media/images/usecase-category-image-1.png" alt="">
                            <div class="usecases-header-text">
                            <p>Производственные
                            и складские
                            помещения</p> 
                            </div>
                        </div>                        
                    </div>
                    <img class="usecase-image" src="media/images/usecases-image-1.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-2.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-3.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-4.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-5.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-6.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-7.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-1.png" alt="">
                    <div class="usecases-header">
                        <div class="usecases-header-inner">
                            <img class="usecase-category-img" src="media/images/usecase-category-image-2.png" alt="">
                            <p>Ремонтные
                            мастерские<br>
                            и СТО</p> 
                        </div>                        
                    </div>
                    <img class="usecase-image" src="media/images/usecases-image-3.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-7.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-5.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-4.png" alt="">
                    <div class="usecases-header">
                        <div class="usecases-header-inner">
                            <img class="usecase-category-img" src="media/images/usecase-category-image-3.png" alt="">
                            <div class="usecases-header-text">
                            <p>Гараж,
                            автостоянка,
                            автомойка</p>
                            </div> 
                        </div>                        
                    </div>
                    <img class="usecase-image" src="media/images/usecases-image-1.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-3.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-6.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-1.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-4.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-7.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-1.png" alt="">
                    <div class="usecases-header">
                        <div class="usecases-header-inner">
                            <img class="usecase-category-img" src="media/images/usecase-category-image-4.png" alt="">
                            <div class="usecases-header-text">
                            <p>Спортивный
                            комплекс</p>
                            </div> 
                        </div>                        
                    </div>
                    <img class="usecase-image" src="media/images/usecases-image-7.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-6.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-5.png" alt="">
                    <div class="usecases-header">
                        <div class="usecases-header-inner">
                            <img class="usecase-category-img" src="media/images/usecase-category-image-5.png" alt="">
                            <div class="usecases-header-text">
                                <p>Сельское 
                                хозяйство</p>
                            </div>       
                        </div>                        
                    </div>
                    <img class="usecase-image" src="media/images/usecases-image-3.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-2.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-1.png" alt="">
                    <img class="usecase-image" src="media/images/usecases-image-4.png" alt="">
                </div>
            </div>
        </section>
        <!-- end of left column -->

        <!-- right column -->
        <section class="column main-right-column">
            <div class="main-right-column-inner">
                <header class="advanatages-header">Преимущества</header>
                <ul class="advantages">
                    {% for item in properties %}
				        <li>
				        	<img src="{{ item.image.url }}" class="advantage-icon">
				        	<h3>{{ item.name }}</h3>
				        	<p>{{ item.description }}</p>
				        </li>
				    {% endfor %}
                    <a class="technology-link" href="/technology/">Описание технологии</a>
                </ul>
            </div>
        </section>
        <!-- end of right column -->
    </section>
    <!-- end of main -->
{% endblock %}