{% extends "base.html" %}

{% load thumbnail %}
{% load pymorphy_tags %}

{% block center %}
	<!-- main -->
    <section class="main">
        <!-- left column -->
        <section class="column main-left-column">
            <!-- slider -->
            <div class="slider">
                <ul id="index-slider">
                	{% for item in products %}
                        <div class="slider-item-box" data-id="{{ item.id }}">
                            <img src="{{ item.image.url }}" alt="">
                            <div class="slider-item-text">
                                <h4>Арочная конструкция</h4>
                                <a href="{{ item.alias }}">«{{ item.name }}»</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div id="index-slider-left"></div>
                <div id="index-slider-right"></div>
            </div>
            <!-- end of slider -->

            {% for item in products %}
            <div class="usecases index-usecases switchable {%if forloop.first%}current{%endif%}" data-id="{{item.id}}">
                <div class="product-info">
                    <div class="column main-text-left-column">
                    <h3>Применение <br>наших {{ item.name|inflect:"рд,мн" }}</h3>
                    </div>
                    
                    <div class="column main-text-right-column">
                        {{ item.description_for_main }}
                    </div>
                </div>

                <div class="usecases-gallery">
                    {% regroup item.productimage_set.all by type as images %}
                    {% for image_list in images %}
                        {% for image in image_list.list %}
                            {% if forloop.first %}
                            <img class="usecase-image" src="/media/{{ image.image }}" alt="">
                            <div class="usecases-header">
                                <div class="usecases-header-inner">
                                    <img class="usecase-category-img" src="/media/{{image_list.grouper.icon_for_main}}" alt="">
                                    <div class="usecases-header-text">
                                    <p>{{image_list.grouper}}</p> 
                                    </div>
                                </div>                        
                            </div>
                            {% else %}
                            <img class="usecase-image" src="/media/{{ image.image }}" alt="">
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section>
        <!-- end of left column -->

        <!-- right column -->
        <section class="column main-right-column">
            <div class="main-right-column-inner">
                <header class="advanatages-header">Преимущества</header>
                <ul class="advantages">
                    {% for item in properties %}
				        <li>
				        	<img src="{{ item.image.url }}" class="advantage-icon">
				        	<h3>{{ item.name }}</h3>
				        	<p>{{ item.description }}</p>
				        </li>
				    {% endfor %}
                    <a class="technology-link" href="/technology/">Описание технологии</a>
                </ul>
            </div>
        </section>
        <!-- end of right column -->
    </section>
    <!-- end of main -->
{% endblock %}
