{% extends "base.html" %}

{% load thumbnail %}
{% block title %}
	{% if page.title %}
	        {{ page.title }}
	{% else %}
	        {{product.name }}
	{% endif %}
 &mdash;
{% endblock %}

{% block center %}
	<!-- main -->
    <section class="main object-main">
        <div class="object-caption">
            <section class="column object-left-column">
                <span class="breadcrumbs">
                    Арочная конструкция /
                </span>
                <h3>{{ product.name }}</h3>
            </section>
            <section class="column object-right-column">
                {% thumbnail product.image "679x396" crop="center" format="PNG" as image %}
                <img src="{{ image.url }}" alt="">
                {% endthumbnail %}
            </section>
        </div>
        <div class="object-main-advantages">
            <section class="column object-left-column">
                {% thumbnail product.draft "240x126" crop="center" format="PNG" as image %}
                <img src="{{ image.url }}" alt="">
                {% endthumbnail %}
            </section>
            <section class="column object-center-column object-text">
                {{ product.description|safe }}
            </section>
            <!-- right column -->
            <section class="column main-right-column object-advantages">
                <div class="main-right-column-inner">
                    <header class="advanatages-header">Преимущества</header>
                    <ul class="advantages">
                    	{% for item in properties %}
                        <li>
                            <img src="{{ item.image.url }}" class="advantage-icon">
                            <h3>{{ item.name }}</h3>

                            <p>{{ item.description }}</p>
                        </li>
                   		{% endfor %}
                        <a class="technology-link" href="/technology/">Описание технологии</a>
                    </ul>
                </div>
            </section>
            <!-- end of right column -->
        </div>
        <div class="usecases object-usecases">
            {% regroup product.productimage_set.all by type as images %}
            {% for image_list in images %}
            <div class="usecases-category">
                <section class="column object-left-column">
                    <img src="/media/{{image_list.grouper.icon}}" alt="">
                    <p>{{image_list.grouper}}</p>
                </section>
                <section class="column object-right-column">
                {% for image in image_list.list %}
                    {% thumbnail image.image "119x90" crop="center" format="PNG" as image %}
                    <img class="usecase-image" src="{{ image.url }}" alt="">
                    {% endthumbnail %}
                {% endfor %}
                </section>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- end of main -->
{% endblock %}
