<ul class="stats-list">
    <li><span class="title">Ширина</span><span class="value">от 6 до 24 метров</span></li>
    <li><span class="title">Высота</span><span class="value">от 3 до 12 метров</span></li>
    <li><span class="title">Длина</span><span class="value">от 10 до 150 метров</span></li>
    <li><span class="title">Степень огнестойкости</span><span class="value">II, V</span></li>
    <li><span class="title">Снеговая нагрузка</span><span class="value">до 180 кг/м</span></li>
    <li><span class="title">Скоростной напор ветра</span><span class="value">до 200 км/час</span></li>
    <li><span class="title">Сейсмичность</span><span class="value">9 баллов</span></li>
</ul>
<div class="size-chooser">
    {% include 'size_chooser.html' %}
</div>
<div class="print-box">
    <p>Специальная версия<br>
    для печати на А4</p>
    <p>
    <a class="print-button" href="">Распечатать</a>
    </p>
</div>