{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
    {% if page.title %}
        {{ page.title }}
    {% else %}
        Описание технологии
    {% endif %}
 &mdash;
{% endblock %}

{% block center %}    
    <!-- main -->
    <section class="main">
        {% for item in list %}
            <div class="{{ item.alias }}" id="{{ item.alias }}">
                <section class="column tech-left-column">
                    {% include 'tech_menu.html' %}
                </section>
                <section class="column tech-right-column">
                    {% with template="tech_"|add:item.alias|add:".html" %}
                        {% include template %}                    
                    {% endwith %}
                </section>
            </div>
        {% endfor %}
    </section>
    <!-- end of main -->
{% endblock %}