{% load thumbnail %}

<ul class="assembly-slider" id="assembly-slider">
    {% for property in item.techproperty_set.all %}
    <li data-idx="{{ forloop.counter }}">
        {% thumbnail property.image1 "715x405" crop="center" format="PNG" as image %}
        <img src="{{ image.url }}" alt="">
        {% endthumbnail %}
    </li>
    {% endfor %}
</ul>
<ul class="assembly-slider-controls">
    {% for property in item.techproperty_set.all %}
    <li class="{% cycle 'odd' 'even' %} {%if forloop.first%}current{%endif%}" data-idx="{{ forloop.counter }}">
        <h3>{{ forloop.counter }}.</h3>
        <p><a href="">{{ property.description|safe }}</a></p>
    </li>
    {% endfor %}
</ul>