<div class="tech-text insulation-header-text">
    <p>Потери тепла через наружные стены составляют до 50 % от общих теплопотерь. Рациональным и эффективным способом сокращения потерь тепла, а  затрат на отопление, является утепление наружных стен теплоизоляционными изделиями, которые имеют сопротивление  в 10 раз выше, чем материалы, традиционно используемые в строительстве (кирпич, бетон). При этом несущие конструкции здания т промерзания, что позволит увеличить срок их службы. За счет отсутствия температурных колебаний и снижения уровня шума в тся комфортный микроклимат.</p>
</div>
<section>
    <img src="/media/images/insulation-1-main.png" alt="" class="main-img">
    <div class="inner-text-box">
        <h3>Напыляемый утеплитель</h3>
        <p>Утеплитель является термоизоляционным и звукопоглощающим покрытием, не требует крепежа, наносится путем напыления на поверхность. о напылять в толщине от 15 мм до 200 мм в зависимости от требуемых параметров тепло-технических характеристик здания.</p>
    </div>
    <div class="inner-image-box">
        <img src="/media/images/insulation-1-1.png" alt="" class="side-img">
        <img src="/media/images/insulation-1-2.png" alt="" class="side-img">
    </div>
</section>
<section>
    <img src="/media/images/insulation-2-main.png" alt="" class="main-img">
    <div class="inner-text-box">
        <h3>Подвесной утеплитель</h3>
        <p>При монтаже в арочную конструкцию закладываются с шагом 1220 мм закладные элементы. к которым при помощи шурупов крепится металлический щий форму арки с меньшим радиусом (радиус определяется толщиной утеплительного материала), к уголку крепится профильный зийным покрытием. В проем между аркой и профильным листом закладывается утеплительный материал.</p>
    </div>
    <div class="inner-image-box">
        <img src="/media/images/insulation-2-1.png" alt="" class="side-img">
        <img src="/media/images/insulation-2-2.png" alt="" class="side-img">
    </div>
</section>
<section>
    <img src="/media/images/insulation-3-main.png" alt="" class="main-img">
    <div class="inner-text-box">
        <h3>Двойная арочная конструкция</h3>
        <p>В паз панели шириной 305 мм наносится утеплитель, после чего панели монтируются на фундамент.Поверх монтируется вторая арка с большим ния обеих арок после монтажа бетонируется. Испоьзуется утеплитель на основе пенополиуритана, минеральной ваты (URSA, ISOVER     </div>
    <div class="inner-image-box">
        <img src="/media/images/insulation-2-1.png" alt="" class="side-img">
        <img src="/media/images/insulation-2-2.png" alt="" class="side-img">
    </div>
</section>