<div class="tech-text insulation-header-text">
    {{ item.description|safe }}
</div>
{% for property in item.techproperty_set.all %}
<section>
    <img src="{{ property.image1.url }}" alt="" class="main-img">
    <div class="inner-text-box">
        <h3>{{ property.name }}</h3>
        <p>{{ property.description }}</p>
    </div>
    <div class="inner-image-box">
        <img src="{{ property.image2.url }}" alt="" class="side-img">
        <img src="{{ property.image3.url }}" alt="" class="side-img">
    </div>
</section>
{% endfor %}