{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
	{% if page.title %}
	        {{ page.title }}
	{% else %}
	        Описание технологии
	{% endif %}
 &mdash;
{% endblock %}

{% block center %}
	{% for item in list %}
		{% include 'tech_menu.html' %}
		<a name="{{ item.alias }}" />
		{{ item.description|safe }}
		{% if item.alias == "assemble" %}
			{% include 'tech_assemble.html' %}
		{% elif item.alias == "requirements" %}
			{% include 'tech_requirements.html' %}
		{% endif %}
		{% for property in item.techproperty_set.all %}
			{% thumbnail property.image1 "200x120" crop="center" as img %}
            	<img src="{{ img.url }}" width="{{ img.x }}" height="{{ img.y }}" />
            {% endthumbnail %}
            {{ property.name }}
            {% thumbnail property.image2 "200x120" crop="center" as img %}
            	<img src="{{ img.url }}" width="{{ img.x }}" height="{{ img.y }}" />
            {% endthumbnail %}
            {% thumbnail property.image3 "200x120" crop="center" as img %}
            	<img src="{{ img.url }}" width="{{ img.x }}" height="{{ img.y }}" />
            {% endthumbnail %}
		{% endfor %}
	{% endfor %}
{% endblock %}