<div class="column aside">
    <img src="/media/images/windows-and-gates-main.png" alt="">
    <p>Возможна врезка окон и оконных конструкций любого типа</p>
</div>
<ul class="column windows-and-gates-main">
    <li>
        <img class="left-img" src="/media/images/windows-and-gates-1-left.png" alt="">
        <div>
            <h3>Распашные ворота</h3>
            <p>с калиткой снаружи ворот</p>
        </div>
        <img class="right-img" src="/media/images/windows-and-gates-1.png" alt="">
    </li>
    <li>
        <img class="left-img" src="/media/images/windows-and-gates-2-left.png" alt="">
        <div>
            <h3>Распашные ворота</h3>
            <p>с калиткой внутри ворот</p>
        </div>
        <img class="right-img" src="/media/images/windows-and-gates-2.png" alt="">
    </li>
    <li>
        <img class="left-img" src="/media/images/windows-and-gates-3-left.png" alt="">
        <div>
            <h3>Подъемные ворота</h3>
            <p>с боковой стороны ангара</p>
        </div>
        <img class="right-img" src="/media/images/windows-and-gates-3.png" alt="">
    </li>
    <li>
        <img class="left-img" src="/media/images/windows-and-gates-3-left.png" alt="">
        <div>
            <h3>Распашные ворота</h3>
            <p>с боковой стороны ангара</p>
        </div>
        <img class="right-img" src="/media/images/windows-and-gates-3.png" alt="">
    </li>
</ul>