{% load thumbnail %}

<div class="tech-text insulation-header-text">
    {{ item.description|safe }}
</div>
{% for property in item.techproperty_set.all %}
<section>
    {% thumbnail property.image1 "240" crop="center" format="PNG" as image %}
        <img src="{{ image.url }}" alt="">
    {% endthumbnail %}
    <div class="inner-text-box">
        <h3>{{ property.name }}</h3>
        <p>{{ property.description }}</p>
    </div>
    <div class="inner-image-box">
        {% thumbnail property.image2 "119x90" crop="center" format="PNG" as image %}
            <img src="{{ image.url }}" alt="">
        {% endthumbnail %}
        {% thumbnail property.image3 "119x90" crop="center" format="PNG" as image %}
            <img src="{{ image.url }}" alt="">
        {% endthumbnail %}
    </div>
</section>
{% endfor %}