<ul class="assembly-slider">
    <li><img src="/media/images/process-4.png" alt=""></li>
</ul>
<ul class="assembly-slider-controls">
    <li class="odd">
        <h3>1.</h3>
        <p><a href="">ПОДГОТОВКА ФУНДАМЕНТА</a></p>
    </li>
    <li class="even">
        <h3>2.</h3>
        <p><a href="">ИЗГОТОВЛЕНИЕ ЛАМЕЛИЙ</a></p>
    </li>
    <li class="current odd">
        <h3>3.</h3>
        <p>СБОРКА <br>ЛАМЕЛИЙ</p>
    </li>
    <li class="even">
        <h3>4.</h3>
        <p><a href="">МОНТАЖ АРОЧНОЙ КОНСТРУКЦИИ</a></p>
    </li>
    <li class="odd">
        <h3>5.</h3>
        <p><a href="">МОНТАЖ <br>ТОРЦЕВЫХ СТЕН</a></p>
    </li>
    <li class="even">
        <h3>6.</h3>
        <p><a href="">МОНТАЖ <br>ОКОН И ВОРОТ</a></p>
    </li>
    <li class="odd">
        <h3>7.</h3>
        <p><a href="">ГОТОВАЯ <br>КОНСТРУКЦИЯ</a></p>
    </li>
</ul>