<ul class="advantages advantages-tech">
    {% for item in properties|slice:":3" %}
        <li>
            <img src="{{ item.image.url }}" class="advantage-icon">
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
        </li>
    {% endfor %}
</ul>
<div class="tech-text">
    <p>Универсальный тип здания, которое используется как склад, гараж, терминал и т.д. Ширина до 18 метров и высота до 9 метров позволяют  также в составе спортивного, выставочного или торгового комплекса или как укрытие для крупногабаритной техники.</p>
    <p>По окончанию строительства не требуются отделочные работы, а также ремонтные работы раз в три года. За счёт всего этого стоимость ангара  по сравнению с дугими технологиями строительства зданий.</p>
    <p>Современная технология предоставляет возможность в короткие сроки изготовить и смонтировать крытое арочное сооружение большой площади. ара производится на месте установки сооружения. Продолжительность возведения сооружения площадью 1 000 м2 — две-три недели.</p>
</div>
<ul class="advantages advantages-tech">
    {% for item in properties|slice:"3:6" %}
        <li>
            <img src="{{ item.image.url }}" class="advantage-icon">
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
        </li>
    {% endfor %}
</ul>
<div class="tech-text">
    <p>Малый вес конструкции позволяет обойтись без мощного дорогостоящего фундамента, что существенно ускоряет работу. Фальцевые соединения секций тичным, за счёт этого снижаютя расходы на обогрев помещения. Быстровозводимый ангар сейсмоустойчив, выдерживает высокие вые нагрузки.</p>
</div>