<ul class="stats-list">
    <li><span class="title">Ширина</span><span class="value">от 6 до 24 метров</span></li>
    <li><span class="title">Высота</span><span class="value">от 3 до 12 метров</span></li>
    <li><span class="title">Длина</span><span class="value">от 10 до 150 метров</span></li>
    <li><span class="title">Степень огнестойкости</span><span class="value">II, V</span></li>
    <li><span class="title">Снеговая нагрузка</span><span class="value">до 180 кг/м</span></li>
    <li><span class="title">Скоростной напор ветра</span><span class="value">до 200 км/час</span></li>
    <li><span class="title">Сейсмичность</span><span class="value">9 баллов</span></li>
</ul>
<div class="size-chooser">
    <img class="size-chooser-img" src="/media/images/fake-size-chooser.png" alt="">
    <ul class="size-chooser-list height-chooser">
        <li><a href="">12 m</a></li>
        <li><a href="">11.5 m</a></li>
        <li><a href="">11 m</a></li>
        <li><a href="">10.5 m</a></li>
        <li><a href="">10 m</a></li>
        <li><a href="">9.5 m</a></li>
        <li><a href="">9 m</a></li>
        <li><a href="">8.5 m</a></li>
        <li><a href="">8 m</a></li>
        <li class="current">7.5 m</li>
        <li><a href="">7 m</a></li>
        <li><a href="">6.5 m</a></li>
        <li><a href="">6 m</a></li>
        <li><a href="">5.5 m</a></li>
        <li><a href="">5 m</a></li>
        <li><a href="">4.5 m</a></li>
        <li><a href="">4 m</a></li>
        <li><a href="">3.5 m</a></li>
        <li><a href="">3 m</a></li>
    </ul>
    <ul class="size-chooser-list width-chooser">
        <li><span class="label">ШИРИНА</span><span class="value">6 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">7 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">8 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">9 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">10 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">11 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">12 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">13 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">14 m</span></li>
        <li class="current"><span class="label">ШИРИНА</span><span class="value">15 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">16 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">17 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">18 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">19 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">20 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">21 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">22 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">23 m</span></li>
        <li><span class="label">ШИРИНА</span><span class="value">24 m</span></li>
    </ul>
</div>
<div class="print-box">
    <p>Специальная версия<br>
    для печати на А4</p>
    <p>
    <a class="print-button" href="">Распечатать</a>
    </p>
</div>